*{
    border: 0;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: consolas;

}


body{
    
    background-image: url(https://res.cloudinary.com/dnl44q1wd/image/upload/v1667963987/imagen1_1_odggfh.png);
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    
}

h1{
    color: blanchedalmond;
    top: 30px;
    left: 42%;
    position: absolute;
    font-size: 100px;
}

#sections{
    width: 50%;
    height: 650px;
    
    position: relative;

}

#sections_item{
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 30px;    
    
    
    
}

h2{
    position: relative;
    top: 50%;
    left: 12%;


}

#sections_item a{

    color: rgb(105, 86, 86);
    display: flex;
    background-color: rgb(229, 200, 240);
    font-size: medium;
    text-decoration: none;
    height: 102px;
    width: 102px;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    
    

    
    
}
#sections_item a:hover{
    color: blanchedalmond;
    background: linear-gradient(0deg, rgb(255, 38, 0), rgb(255, 145, 0));
    box-shadow: 3px 0 10px rgb(255, 136, 0), 0 0 40px rgb(255, 94, 0), 0 0 80px rgb(255, 72, 0);
    height: 108px;
    width: 108px;
    rotate: 45deg;
    border-radius: 0% 50% 50% 50% ;
   
}

#item_centro{
    bottom: 60px;
}


