*{
    border: 0;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}


body{
    
    background-image: url(https://res.cloudinary.com/dnl44q1wd/image/upload/v1667963987/imagen1_1_odggfh.png);
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    
}

h1{
    color: blanchedalmond;
    top: 30px;
    left: 42%;
    position: absolute;
    font-size: 100px;
}

#sections{
    width: 50%;
    height: 650px;
    
    position: relative;

}

#sections_item{
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 30px;    
    
}
h2{
    position: relative;
    top: 50%;
    left: 21%;
}

#sections_item a{
    color: rgb(105, 86, 86);
    display: flex;
    background-color: rgb(255, 202, 29);
    font-size: medium;
    text-decoration: none;
    height: 93px;
    width: 93px;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;

    
    
}
