*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.principal-container{
    background-color: azure;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.pca-header--links li img{
    width: 30px;
    margin: 10px auto;
}

.pca-header--links{
    display: flex;
    background-color: white;

}

.pca-header--links li{
    width: 33.3%;
}

.a-main-image_header img{
    width: 100vw;
}

.a-main-image-profile img{
    width: 108px;
    height: 108px;
    border-radius: 50%;
    margin-top: -90px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
}

.a-main-text{
    width: 90%;
    margin: 30px auto;
}

.a-main-text p{
    padding: 15px;
    font-size: 1.5rem;
    border-style: solid;
    border-color: #dff3f3;
    border-width: 3px;
    border-radius: 12px;
}

@media (min-width:768px) {
    body{
        background-color: rgb(214, 214, 214);
    }

    .principal-container{
        width: 50%;
        margin: 36px auto;
        border-radius: 12px;
    }

    .principal-container-about ul{
        border-radius: 12px 12px 0 0;
    }

    .a-main-image_header img{
        width: 100%;

    }
}